<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
	<appSettings>
		<add key="ConnectionString" value="server=116.63.54.195;database=hsmes;PORT=3308; uid=red;pwd=2k20red;charset=gb2312"/>
		<add key="GetPrinterTable" value="select printername,port from hs_printer"/>
	</appSettings>
</configuration>
